header {
  height: 15vh;
}

.top-header {
  background-color: #271dae;
  height: 27%;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #8fa0ff;
  font-size: 14px;
}

.top-container {
  width: 85%;
}

.top-container i {
  color: white;
  cursor: pointer;
}

.bottom-header {
  background-color: #3a33c5;
  height: 73%;
}

.bottom-header .row {
  height: 100%;
}

.heading-container {
  width: 520px;
}

.heading {
  font-family: "Saira Condensed", sans-serif;
  margin: 0px;
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  width: 100%;
}

.search-div {
  height: 50%;
}

body {
  margin: 0;
}

.divider {
  height: 10vh;
  background-color: #d7d8f58a;
}

.searchButton {
  width: 35px;
  height: 35px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  header {
    height: 20vh;
  }

  .heading {
    font-size: 40px;
  }

  .search-div {
    width: 50%;
    height: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: 35px;
  }
  header {
    height: 20vh;
  }

  .search-div {
    width: 50%;
    height: 25%;
  }
}
