.welcome-container {
  height: 100vh;
}
.logo-container {
  z-index: 2;
  position: absolute;
}

.logo-container2 {
  position: absolute;
  z-index: 1;
  font-size: 100px;
}

.logo-container p {
  font-size: 80px;
  font-family: "Rajdhani", sans-serif;
}

.the-word {
  position: relative;
  bottom: 1px;
  right: 1px;
}
